body
{
    background-color: #444444;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/* ------------- Main file styles -------------- */

.header
{
    text-align: center;
    width: 700px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #777777;
    border-radius: 15px;
    padding: 10px;
}
.main
{
    width: 700px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #777777;
    border-radius: 15px;
    padding: 10px;
}
.footer
{
    text-align: center;
    width: 700px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #777777;
    border-radius: 15px;
    padding: 10px;
    padding-top: 15px;
}
.button
{
    font-size: 30px;
    text-align: center;
    width: 600px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #31bbc5;
    border-radius: 15px;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #0044ff;
}
.link
{
    text-decoration: none;
    color: #ffffff;
}
.button:hover
{
    background-color: #20aab4;
    border-color: #0033ee;
}

/* ------------- Main file styles -------------- */

.header_contact
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 80%;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #577cdf;
    border-radius: 15px;
}
.main_contact
{
    font-size: 32px;
    padding: 28px;
    text-align: center;
    width: 77%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #577cdf;
    border-radius: 15px;
}
.footer_contact
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 80%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #577cdf;
    border-radius: 15px;
}
.fancytext
{
    color: #ffffff;
    font-size: 70px;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE;
}
.link0
{
    color: #ffffff;

}
.link0:hover
{
    color: #dddddd;
}
.link1
{
    color: #44c7cc;
}
.link1:hover
{
    color: #33b6bb;
}
/* Colapsible */



/*Collapsible end*/
.header_aboutme
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 80%;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #577cdf;
    border-radius: 15px;
}
.main_aboutme
{
    font-size: 32px;
    padding: 28px;
    text-align: center;
    width: 77%;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #577cdf;
    border-radius: 15px;
}
.footer_aboutme
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 80%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #577cdf;
    border-radius: 15px;
}
.myButton {
    color: rgb(255, 255, 255);
     font-size: 40px; 
     line-height: 30px; 
     padding: 20px; 
     border-radius: 6px; 
     font-family: Georgia, serif; 
     font-weight: normal; 
     text-decoration: none; 
     font-style: normal; 
     font-variant: normal; 
     text-transform: none; 
     background-image: linear-gradient(135deg, rgb(0, 164, 153) 0%, rgb(77, 19, 203) 69%, rgb(116, 0, 117) 100%); box-shadow: rgba(0, 0, 0, 0) -100px -100px 0px 0px; border: 0px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background-image: linear-gradient(135deg, #00a388 0%, #3c02ba 69%, #730074 100%); }
    .myButton:active {
        background-image: linear-gradient(135deg, #00a277 0%, #2b01aa 69%, #620063 100%); }
.header_projects
    {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        width: 80%;
        height: 95px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #577cdf;
        border-radius: 15px;
    }
    .main_projects
    {
        align-items: center;
        font-size: 32px;
        padding: 28px;
        text-align: center;
        width: 77%;
        min-height: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #577cdf;
        border-radius: 15px;
    }
    .footer_projects
    {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        width: 80%;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #577cdf;
        border-radius: 15px;
    }
.note1
{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    min-height: 5%;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: #00a2ff;
    background-color: #533688;
    border-radius: 10px;
    border-color: #1b3ebb;
    border-width: 2px;
    border-style: solid;
}
.myButton1 {
    color: #ffffff; font-size: 50px; line-height: 50px; padding: 20px; font-family: "Arial Black", Gadget, sans-serif; font-weight: 700; text-decoration: none; font-style: normal;
    font-variant: small-caps; text-transform: none; background-image: linear-gradient(#00eeff 0%, #aa22dd 100%); box-shadow: rgba(0, 0, 0, 0) -100px -100px 0px 0px; border: 2px solid rgb(0, 9, 164); display: inline-block;
    border-radius: 10px;
    margin: 15px;
}
    .myButton1:hover {
        background-image: linear-gradient(#00ddee 0%, #aa11cc 100%); }
    .myButton1:active {
        background-image: linear-gradient(#00ccdd 0%, #aa00bb 100%); }
        table.blueTable {
            border: 3px solid #19BEFF;
            text-align: left;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            border-collapse: collapse;
          }
          table.blueTable td, table.blueTable th {
            border: 2px solid #AAAAAA;
            padding: 10px 10px;
          }
          table.blueTable tbody td {
            font-size: 20px;
          }
          table.blueTable tr:nth-child(even) {
            background: #D0E4F5;
          }
          table.blueTable thead {
            background: #077DBD;
            background: -moz-linear-gradient(top, #459dcd 0%, #1f8ac3 66%, #077DBD 100%);
            background: -webkit-linear-gradient(top, #459dcd 0%, #1f8ac3 66%, #077DBD 100%);
            background: linear-gradient(to bottom, #459dcd 0%, #1f8ac3 66%, #077DBD 100%);
            border-bottom: 5px solid #444444;
          }
          table.blueTable thead th {
            font-size: 30px;
            font-weight: bold;
            color: #FFFFFF;
            text-align: center;
            border-left: 1px solid #D0E4F5;
          }
          table.blueTable thead th:first-child {
            border-left: none;
          }
          
          table.blueTable tfoot td {
            font-size: 14px;
          }
          table.blueTable tfoot .links {
            text-align: right;
          }
          table.blueTable tfoot .links a{
            display: inline-block;
            background: #1C6EA4;
            color: #FFFFFF;
            padding: 2px 8px;
            border-radius: 5px;
          }