html
{
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}
.head, .nav, .main-content, .footer
{
    background-color: rgba(55,53,59,0.75);
}
.head
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    width: 90%;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    backdrop-filter: blur(3px) saturate(150%);
}
.search
{
    padding: 10px;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    margin-right: 2.5%;
    height: 95%;
    width: 40%;
    float: right;
    color: #00000050;
    font-size: 20px;
     border-width: 0px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: hidden;
     border-radius: 10px;
     box-shadow: 0px 0px 2px rgba(66,66,66,.70);
     text-shadow: 0px 0px 0px rgba(66,66,66,.75);
}
.logo
{
    float: left;
    font-size: 40px;
    margin-left: 3.5%;
}
.content
{
    margin-right: 5%;
    margin-left: 5%;
    width: 92%;
}
.nav
{
    margin-left: auto;
    margin-right: 0.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.5%;
    text-align: center;
    width: 20%;
    min-height: 500px;
    border-radius: 15px;
    align-items: center;
    float: left;
    backdrop-filter: blur(3px) saturate(150%);
}
.main-content
{
    float: left;
    margin-left: 0.5%;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1%;
    text-align: left;
    width: 75%;
    min-height: 600px;
    border-radius: 15px;
    align-items: start;

    backdrop-filter: blur(3px) saturate(150%);
}
.footer
{
    float: left ;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    width: 91%;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    backdrop-filter: blur(3px) saturate(150%);
}
.btn{

    font-family: Lato;
    font-weight: 100;
    font-size: 25px;
    color: #fff;
    background-color: #d41212;
    padding: 10px 30px;
    border: solid #cc0000 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 10px;
    transition : 725ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.btn:hover{

    transition : 725ms;
    padding: 10px 50px;
    transform : translateY(-5px);
    background-color: #fff;
    color: #ff0000;
    border: solid 2px #cc0000;
}
.btn:active{

    transition : 725ms;
    padding: 10px 50px;
    transform : translateY(-5px);
    background-color: #fff;
    color: #aa0000;
    border: solid 2px #bb0000;
}
.btn2{

    font-family: lato;
    font-weight: 100;
    font-size: 25px;
    color: #fff;
    background-color: #d41212;
    padding: 10px 30px;
    border: solid #cc0000 2px;
    box-shadow: rgb(0, 0, 0) 0 0 0 0px;
    border-radius: 10px;
    transition : 725ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;

    cursor: pointer;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    float: left;
}

.btn2:hover{

    transition : 725ms;
    padding: 10px 50px;
    transform : translateY(-5px);
    background-color: #fff;
    color: #ff0000;
    border: solid 2px #cc0000;
}
.btn2:active{

    transition : 725ms;
    padding: 10px 50px;
    transform : translateY(-5px);
    background-color: #fff;
    color: #aa0000;
    border: solid 2px #bb0000;
}
.link_nodec{
    text-decoration: none;
    color: #ffffff;
}
.przedmiot_box
{
    float: left;
    display: flex;
    margin-bottom: 100px;
    width: 100%;
}
.przedmiot_box_text
{
    padding-top: 15px;
    font-size: 40px;
    margin-left: 10px;
}
.small_text
{
    line-height: 0%;
    font-size: 20px;
    text-align: left;
}
marquee
{
    word-spacing: 20px;
}
.accordion_btn
{
    background: #801919;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    width: 10%;
    border: none;
    transition: 0.3s;
}
.active, accordion_btn:hover
{
    background: #700808;
}
.accordion_content
{
    padding: 2px 8px;
    background-color: #e0242450;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.info_btn
{
    width: 300px;
    background-color: #cc0000;
    color: #ffffff;
    font-size: 20px;
    border: solid 2px #cc0000;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 2% 0.25% 2% 0.25%;
    transition : 725ms;
    transform: translateY(0);
}
.info_btn:hover
{
    transition : 725ms;
    padding: 10px 50px;
    transform : translateY(-5px);
    background-color: #fff;
    color: #ff0000;
    border: solid 2px #cc0000;
}
p{
    font-size: 15px;
}
.btn3{

    font-family: Lato;
    font-weight: 100;
    font-size: 25px;
    color: #fff;
    background-color: #d41212;
    padding: 10px 30px;
    border: solid #cc0000 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 10px;
    transition : 725ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.btn3:hover{

    transition : 725ms;
    padding: 10px 50px;
    transform : translateY(-5px);
    background-color: #fff;
    color: #ff0000;
    border: solid 2px #cc0000;
}
.btn3:active{

    transition : 725ms;
    padding: 10px 50px;
    transform : translateY(-5px);
    background-color: #fff;
    color: #aa0000;
    border: solid 2px #bb0000;
}
.con_open
{
    transition : 725ms;
    color: #ff0000;
    font-size: 18px;
    cursor: pointer;
}
.con_open:hover{
    transition : 725ms;
    font-size: 20px;
    background-color: #ffffff15;
    padding: 1%;
    border-radius: 5px;
    color: #ee0000;
    cursor: pointer;
}
.map-check
{
    transition : 725ms;
    color: #d60000;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}
.map-check:hover
{
    font-weight: bold;
    color: #FF0000;
    transition : 725ms;
    font-size: 20px;
    background-color: #ffffff20;
    padding: 1%;
    border-radius: 5px;
    color: #ee0000;
    cursor: pointer;
}